body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
/*header{
  
}*/
h1{
  color: rgb(255,0,0);
}
nav a{
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(255,0,0,0.7);
}
a:link {
  color: blue;
}

a:visited {
  color: purple;
}

img{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#featured-property
figcaption{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style:oblique;
}
p{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#details div{
  float: left;
  display: inline;
   width: 25%;
 background-color: #ff0000;

}
footer{
  background: inherit;
  font-weight: bold;
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Courier New', Courier, monospace;
}
